@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rampart+One&display=swap');
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
#changeComponent h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        text-shadow: 2px 2px 1px black;
        font-size: 45px;

}
#rowDiv1{
    margin: 0px 30px 0px 105px;
}
#rowDiv1 i{
    color: red;
}
#rowDiv1 hr{
    border-top: 6px solid;
    opacity: 0.4;
    border-radius: 50%;
}

/* ------------------------- */
#headingrow img{
    width: 5rem;
    height: 5rem;
    /* float: right; */
}
/* -------------------------------- */
#navbarNav,.navbar-brand{
    font-size: 17px;
    font-weight: 400;
    
}
#navabar nav{
    padding-left: 28px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 2px 2px 15px rebeccapurple,
    1px 1px 5px rgb(38, 215, 73);
    background-image: linear-gradient(to right,black ,rgba(133, 129, 129, 0.58));

}
#navabar .nav-link{
    color: rgba(245, 245, 245, 0.838);
    padding-left: 18px;
}

/* ----------------------------------------- */
#editorBlock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;

}
#youtubeblock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;
}

#websiteblock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;

}
#practiceQuestionBlock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;    
}

/*todo -------------------- HOME ---------------------------------------- */
#homeMainDiv p{
    font-size: large;
    text-align:justify;
}
#homeMainDiv ol{
    font-size: x-large;
    text-transform: capitalize;
}

/*todo -------------------- interview navbar ---------------------------------------- */
#interviewnavbg{
    background-color: rgba(144, 186, 136, 0.696);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#interviewnavbg li{
    /* border-right: 1.5px solid rgb(82, 126, 175); */
    border-right: 1.5px solid black;
    padding: 0 25px;
}
#interviewnavbg a{
    color: black;
    font-size: x-large;
}


/*todo --------------------------------------------------- */
.dropdown{
    border: 1.5px solid gray;
    border-top: none;
    margin-top: -17px;
    box-shadow: 2px 2px 7px 0px darkgrey;
    background-color: rgba(128, 128, 128, 0.057);
    min-height: 0px;
    cursor: pointer;
}
.dropdownrow{
    width:100%;
   padding: 8px;
   box-sizing: border-box;
   line-height: 2rem;
   font-size: large;
   

}
#searchbar{
    background-image: url("images/undraw_Quiz_re_aol4.png");
    background-position-y: inherit;
    background-position-x: right;
    
}
#searchbar .input-group{
    border-radius: 5px;
    border: 2.7px solid rgba(0, 0, 0, 0.363);
    /* background-color: antiquewhite; */
}
#searchbar .input-group-append i{
    color: black;
    font-size: 25px;
    position: relative;
    top: 3px;
    left: -5px;
}
#searchbar h1{
    font-weight: 900;
    color:black;
}
#searchbar input{
    outline: none;
    width: 5rem;
}
/* --------------------------------------- */
#showdiv{
    background-color: rgba(86, 89, 88, 0.2);
    border: 1px solid black;
    border-radius: 5px;
    height: 11rem;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFeQqXh3xnpyexeOsQ8b-p79Ov9XOQZUXNqA&usqp=CAU');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:  1px 1px 11px 2px darkgrey;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:2rem;
    
}
#showdiv span{
    padding: 1px;

    transform-origin: center;
    transform: rotate(-10deg);
    box-sizing: border-box;    
    color:#473e66c9;
    font-weight: 900;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#channel{
    background-image: linear-gradient(to right,rgba(255, 166, 0, 0.635),white,rgba(0, 128, 0, 0.562));
    border: 1px solid black;
    border-radius: 5px;
    min-height: 2rem;
}
#channel span{
    word-break: break-all;
    font-size: 2rem;
    font-family: cursive;
    padding:10px;
    box-sizing: border-box;
}
/* ---------------------------------------------------------------- */
                /* Algorithms */
/* ---------------------------------------------------------------- */
.allalgorithms{
    min-height: 100vh;
}
.allalgorithms .algorithmsbutton{
    text-align: center;
    font-weight: 900;
    font-size: 1.5rem;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-radius: 15px;
    padding: 10px;
    color: white;
    letter-spacing: 2.5px;
    position: relative;
    cursor: pointer;


}
.allalgorithms .algorithmsbutton i{
    position: absolute;
    right: 19px;
    top: 10px;
    font-size: 28px;
    color: black;
}
.allalgorithms .imgdiv i{
    font-size: 45px;
    position: absolute;
    right: 33px;
    top: -33px;
    cursor:pointer;
}
.allalgorithms .imgdiv{
    display: none;
    position: relative;
}
.allalgorithms img{
    width: 100%;
    height: 100%;
    border-radius: 20px;

}



@media screen and (max-width: 480px) {
    #headingrow h1{
        text-align: center;
    }
    .showdiv{
        top: 45%;
    }
    #navabar .nav-link{
        padding-left: 0;
    }
    #websiteblock{
        margin-top: 15px;
    }
    #rowDiv1{
        margin: 0px 0px;
    }
    #changeComponent h1{
        border: 2px solid gray;
        border-style:double;
        border-radius: 20px;
    }

    /* ---------------------------- */
    #searchbar{
        background-repeat: no-repeat;
        background-position-x: 25%;
    }
    /* ---------------------------- */
    #interviewnavbg li{
        border-right: none;
    }
    /* ---------------------------- */
    .allalgorithms .algorithmsbutton{
        text-align: left;
    }

}
