body{
    box-sizing: border-box;
}
#changeComponent h1{
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        text-shadow: 2px 2px 1px black;
        font-size: 45px;

}
#rowDiv1{
    margin: 0px 30px 0px 105px;
}
#rowDiv1 i{
    color: red;
}
#rowDiv1 hr{
    border-top: 6px solid;
    opacity: 0.4;
    border-radius: 50%;
}

/* ------------------------- */
#headingrow img{
    width: 5rem;
    height: 5rem;
    /* float: right; */
}
/* -------------------------------- */
#navbarNav,.navbar-brand{
    font-size: 17px;
    font-weight: 400;
    
}
#navabar nav{
    padding-left: 28px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    box-shadow: 2px 2px 15px rebeccapurple,
    1px 1px 5px rgb(38, 215, 73);
    background-image: linear-gradient(to right,black ,rgba(133, 129, 129, 0.58));

}
#navabar .nav-link{
    color: rgba(245, 245, 245, 0.838);
    padding-left: 18px;
}

/* ----------------------------------------- */
#editorBlock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;

}
#youtubeblock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;
}

#websiteblock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;

}
#practiceQuestionBlock{
    border: 2px solid gray;
    border-radius: 12px;
    background-color:rgba(255, 248, 220, 0.5);
    box-shadow:2px 3px 12px black;    
}

/*todo -------------------- HOME ---------------------------------------- */
#homeMainDiv p{
    font-size: large;
    text-align:justify;
}
#homeMainDiv ol{
    font-size: x-large;
    text-transform: capitalize;
}

/*todo -------------------- interview navbar ---------------------------------------- */
#interviewnavbg{
    background-color: rgba(144, 186, 136, 0.696);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#interviewnavbg li{
    /* border-right: 1.5px solid rgb(82, 126, 175); */
    border-right: 1.5px solid black;
    padding: 0 25px;
}
#interviewnavbg a{
    color: black;
    font-size: x-large;
}




@media screen and (max-width: 480px) {
    #headingrow h1{
        text-align: center;
    }
    .showdiv{
        top: 45%;
    }
    #navabar .nav-link{
        padding-left: 0;
    }
    #websiteblock{
        margin-top: 15px;
    }
    #rowDiv1{
        margin: 0px 0px;
    }
    #changeComponent h1{
        border: 2px solid gray;
        border-style:double;
        border-radius: 20px;
    }

    /* ---------------------------- */
    #interviewnavbg li{
        border-right: none;
    }
}